
.main__png-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-png {
  max-width: 24px;
}

.main__png-wrapper span {
  display: block;
  width: 430px;
  height: 1px;
  background-color: rgb(255, 90, 90);
}
.main__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "VALORANT", sans-serif;
}

.main__year {
  font-size: 108px;
  padding-right: 80px;
  border-bottom: 1px solid rgb(255, 90, 90);
}

.main__left-title {
  font-family: VALORANT;
  font-size: 115px;
}

.main__spant1 {
  color: rgb(255, 90, 90);
}

.main__spant2 {
  color: #2b353e;
}
.main__text {
  font-family: VALORANT;
  font-size: 25px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__right img {
  max-width: 500px;
}
