* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1923;
  color: #e2e0dd;
  font-family: "Aldrich", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
